html {
    font-family: sans-serif;
    font-size: 13px;
    color: white;
}

table {
    display: inline-block;
    vertical-align: middle;
}

.refresh {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}

a#track {
    font-weight: bold;
}

a:hover {
    color: #6DDAB9;
}

#album-cover {
    border-radius: 4px;
    margin: 4px;
    vertical-align: middle;
}
